<% content_for :head do %>
  <title>have ranking top10 - monolist</title>
  <description>
    持っているモノのランキングページトップ10です。
  </description>
<% end %>


<div class ="panel panel-default">
    <div class="panel-heading">
      <h3>ranking-have</h3>
    </div>
    <div class="panel-body">
    <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-2"></th>
      <th class="col-md-1">Ranking</th>
      <th class="col-md-3">item picture</th>
      <th class="col-md-4">item name</th>


    </tr>
    </thead>
    <tbody>

    <% @rankings.each_with_index do |ranking,i| %>
    <% @item = Item.find_by_id(ranking) %>
        <tr>
          <td></td>
          <td><%= i+1 %>位</td>
          <td><%= image_tag(@item.medium_image , alt: @item.title) %></td>
          <td><%= @item.title %></td>
        </tr>
    <% end %>
  </tbody>
  </div>
</table>